body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #767676;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 980px;
    }
}

.container, [class*="col"] {
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.header {
    background-color: #DCDCDC;
}

.header__content {
    padding: 40px 0 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__contacts {
    margin-bottom: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    line-height: 46px;
    text-align: right;
    list-style: none;
}

.header__contacts-phone {
    color: #767676;
}

.header__contacts-feedback {
    color: #767676;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 700;
    border-bottom: 1px dashed #767676;
}

[class*='header__contacts-phone']:hover {
    color: red;
}

.header__contacts-feedback:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dashed black;
}

/*======================================*/
.menu-body {
    background-color: #767676;
}

.menu-body__list {
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.menu__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    padding: 25px 23px 30px;
}

.card:not(:nth-child(3n)) {
    margin-right: 15px;
}

.menu__link::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: 0;
    margin: auto;
    right: 0;
    height: 25px;
    width: 3px;
    background: #fff;
}

.menu__link:hover {
    color: #fff;
    background-color: #9f9a8e;
}

.menu__item:last-child .menu__link::before {
    display: none;
}

/*============================================*/
.content-catalog__list {
    list-style: none;
    padding: 0;
}

.content-catalog__link {
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
    color: #767676;
    font-weight: 400;
    padding: 20px;
}

.content-catalog__link::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: 0;
    margin: auto;
    right: 0;
    height: 25px;
    width: 3px;
    background: #767676;
    transform: rotate(30deg);
}

.content-catalog__item:last-child .content-catalog__link::before {
    display: none;
}

.content-catalog__link:hover {
    color: #767676;
    text-decoration: none;
}

.content-catalog__price-list {
    flex-direction: column;
}

.price-list {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #444444;
    font-weight: 700;
}

.catalog__col {
    padding-right: 7px;
    padding-left: 7px;
    margin-bottom: 20px;
}

.catalog__col-wrapper {
    padding: 20px;
    background-color: #dcdcdc;
}

.catalog__text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
}

.cost-basket {
    margin-top: 55px;
    flex-wrap: wrap;
}

.catalog__cost {
    margin-bottom: 0;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #444444;
    font-weight: 700;
    justify-content: space-around;
    white-space: nowrap;
}

.catalog__basket {
    margin-right: 20px;
}

.page-number__list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.page-number__link {
    display: inline-block;
    padding: 32px 11px;
    font-size: 14px;
    line-height: 22px;
    color: #767676;
}

.page-number__item:nth-child(3) .page-number__link {
    font-size: 18px;
    color: #444444;
}

.page-number__link:hover {
    font-weight: 700;
    font-size: 18px;
    color: #444444;
    text-decoration: none;
}

.catalog__row-text {
    border-top: 1px solid #777777;
    padding-top: 30px;
    padding-bottom: 200px;
}

.catalog__col-text-left {
    padding: 0 20px 0 0;
}

.catalog__col-text-right {
    padding: 0 0 0 20px;
}

/*=============================*/
.footer {
    background-color: #777777;
}

.footer__wrapper {
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-copy__text {
    margin-bottom: 2px;
}

.footer-copy__email {
    color: #ffffff;
}

.footer-copy__email:hover {
    color: #ffffff;
}

.footer-menu__list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.footer-menu__link {
    display: inline-block;
    padding-top: 14px;
    color: #fff;
    text-decoration: underline #bbbbbb;
}

.footer-menu__item:nth-child(1) .footer-menu__link {
    padding-top: 0;
}

.footer-menu__link:hover {
    text-decoration: none;
    color: #fff;
}

.footer-logo {
    padding-top: 4px;
    padding-right: 8px;
}

.footer-company__email {
    position: relative;
    text-decoration: underline;
    color: #ffffff;
}

.footer-company__email::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    margin: auto;
    right: -15px;
    width: 9px;
    height: 1px;
    background-color: white;
}

.footer-company__email:hover {
    text-decoration: none;
    color: #ffffff;
}

.footer-company__text {
    margin-top: 2px;
    margin-bottom: 0;
}

/*=============================*/
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);

}

.modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 466px;
    /*height: 578px;*/
    max-height: 90%;
    margin: auto;
    padding: 35px 60px 25px;
    text-align: center;
    color: #000;
    background: #ffffff;
    box-shadow: 0 30px 50px rgb(0 0 0/70%);
    border-radius: 0;
    z-index: 3;
}
@keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateY(10px);
    }
}

.modal-content-show {
    display: block;
    animation: fade .6s;
}

.modal-error {
    animation: shake .6s;
}

.modal-content-close {
    position: absolute;
    top: -28px;
    right: -28px;
    width: 27px;
    height: 27px;
    font-size: 0;
    background-color: #777777;
    border: 0;
    cursor: pointer
}

.modal-content-close::before,
.modal-content-close::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 15px;
    height: 1px;
    background-color: #ffffff;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content h2 {
    margin: 0 0 35px;
    font-size: 24px;
    color: #535353;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-content p {
    margin: 0 0 3px;
}

.comment {
    width: 100%;
    border: 1px solid #c3c3c3;
}

.login-form input.form-input {
    width: 100%;
    margin: 0 0 10px;
    padding: 10px 40px 10px 15px;
    border: 1px solid #c3c3c3;
}

.login-form .form-input:focus {
    outline: none;
    border-color: black;
}

.login-form .form-input.invalid {
    border: 1px solid #ff8383;
    box-shadow: inset 0 0 15px 4px #ff8383;
}

.login-form .form-input.invalid::placeholder {
    color: #dc7f7f;
    font-style: italic;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-form .restore {
    float: right;

    color: #000;
}

.login-form .btn {
    width: 35%;
    padding: 14px 7px;
    margin-top: 14px;
    background-color: #777777;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 0;
    border: 0;
}

@media screen and (max-width: 991px) {
    .catalog__basket {
        margin-top: 15px;
    }
}

@media screen and (max-width: 767px) {
    .header__contacts {
        padding: 0;
        font-size: 30px;
        line-height: 36px;
    }

    .cost-basket {
        margin-top: 40px;
    }
}

@media screen and (max-width: 575px) {
    .header__content {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__contacts {
        margin-top: 15px;
        text-align: center;
    }

    .catalog__col-wrapper {
        text-align: center;
    }

    .catalog__basket {
        margin-top: 0;
    }

    .catalog__row-text {
        padding-bottom: 15px;
    }

    .catalog__col-text-left {
        padding-left: 20px;
    }

    .catalog__col-text-right {
        padding-right: 20px;
    }
    .modal-content-show{
        width: 100%;
    }
    .login-form .btn{
        width: 100%;
    }
}
.tc {
    text-align: center;
}
.relative {
    position: relative;
}
.grape {
    color: #be4bdb;
}
canvas {
    display: inline-block;
}
@media screen and (max-width: 350px) {
    .content-catalog__list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .modal-content{
        padding: 15px;
    }
}
